<div class="container">
    <section class="title">
        <h2>{{image.title}}</h2>
    </section>
    <section class="image">
        <p>{{image.description}}</p>
        <img src="/assets/upload/{{image.filename}}" alt="Image" class="img-medium">
    </section>
    <section class="footer">
        <button class="btn-std"><i class="fa fa-heart">&nbsp Like</i></button>       
    </section>
    <section class="comments">
        <div>
            <button class="btn-std"><i class="fa fa-commenting-o">&nbsp Post Comment</i></button>
        </div>
        <div>
            {{#each comments}}
                <div>
                    <p>{{name}}</p>
                    <p>{{comment}}</p>
                </div>
            {{/each}}
        </div>   
    </section>
</div>
